<div class="container">
  <% @searches.each do |search| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-body">
            <h5 class="card-title text-success"><%= search.query %></h5>
          </div>
          <div class="card-footer text-muted">
            <small>
              Created <%=time_ago_in_words(search.created_at)%> ago <br>
              Updated <%=time_ago_in_words(search.updated_at)%> ago
            </small>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div>